<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="twitter:" content="">
    <script src="./assets/js/jquery-2.2.4.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--iconfnt-->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_507319_1fwh7bufvc9jm7vi.css">
    <!--tip-plugin-->
    <script src="./assets/js/tip-plugin.js"></script>
    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
     <!--less cdn-->
     <!-- <link rel="stylesheet/less" type="text/css" href="./assets/css/index.less">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script> -->

    <link rel="stylesheet" href="./assets/css/tip.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="icon" href="./assets/images/square.png" type="image/x-icon" />
    <title>On The Way</title>
</head>

<body>
    <!--header开始-->
    <header class="container-fluid ">
        <div class="row header-top">
            <div class="col-xs-1 ">
                <span class="menu-lang">ENGLISH</span>
            </div>
            <div class="col-xs-10 slogan">The awards of design, creativity and innovation on the internet</div>
            <div class="col-xs-1">
                <i class="iconfont icon-tuite"></i>
                <i class="iconfont icon-facebookf"></i>
            </div>
        </div>
        <div class="row header-main" id="nav">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> MENU
            </div>
            <div class="col-xs-11 p0 box-search">
              <div  id="menu-btn" style="">
                <div class="col-xs-1 b-l1 b-r1 p0 menu-btn" >
                ALL ▾
                </div>
                <div class="menu-dropdown">
                    <ul id="menu-list">
                      <li v-for="item in items">
                        <strong>
                        <a class="js-filter-type" data-type="all" href="javascript:;">{{ item.message }}</a>
                        </strong>
                      </li>
                    </ul>
                </div>
              </div>
              <div class="col-xs-9">
                <input type="text" class="search" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" name="" value="">
              </div>
              <div class="col-xs-2 p0">
                <div class="col-xs-8 p0">
                    <a href="javascript:;" class="show-filters">SHOW FILTERS</a>
                </div>
                <div class="col-xs-4 bt-close p0" id="close-search">
                  <i class="iconfont icon-cuo"></i>
                </div>
              </div>

            </div>
            <div class="nav-title">
            <div class="col-xs-1 b-l1 glass"  id="glass">
                <div class="col-xs-5"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
            </div>
            <div class="col-xs-10 p0">
                <div class="col-xs-10 p0">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6 logo-header">
                        On The Way ®
                    </div>
                    <div class="col-xs-3 login p0">
                        <span>ARE YOU A MEMBER?</span>
                        <strong><a class="open_login" href="/login">Register / log in</a></strong>
                    </div>
                </div>
                <div class="col-xs-2  p0">
                    <div class="col-xs-2"></div>
                    <a href="javascript:;">
                    <div class="col-xs-10 button-large p0">
                        SUBMIT YOUR SITE!
                    </div>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </header>
    <!--banner开始-->
    <div class="banner">
        <div class="banner-content">
            <div class="banner-breadcrumb ">
                <div class="banner-data">
                    Site of the Day
                    <span>December 24, 2017</span>
                </div>
                <div class="banner-share" id="share">
                    <i class="iconfont icon-fenxiang"></i>
                </div>
                <ul class="share-list">
                    <div class="banner-share">
                        <i class="iconfont icon-facebookf"></i>
                    </div>
                    <div class="banner-share">
                        <i class="iconfont icon-tuite"></i>
                    </div>
                    <div class="banner-share">
                        <i class="iconfont icon-in"></i>
                    </div>
                    <div class="banner-share">
                        <i class="iconfont icon-google"></i>
                    </div>
                </ul>
            </div>
            <div class="banner-title">
                "FML"
            </div>
            <div class="banner-by">
                by
                <strong><a href="#">Gladeye and Highline</a></strong> from
                <strong>New Zealand</strong> width
                <strong>7.21</strong>
            </div>
            <div class="banner-notes">
                <ul>
                    <li class="circle-note-progress style-design" data-note="7.14">
                        <div class="circle">
                            <svg width="84" height="84">
                                <circle r="38" cy="41" cx="41"></circle>
                                <circle r="38" cy="41" cx="41" stroke-linejoin="round" stroke-linecap="round" class="circle-progress" style="animation: donut-show-0 900ms ease forwards;"></circle>
                            </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.14</span>
                            </div>
                        </div>
                        <div class="legend">DESIGN</div>
                    </li>
                    <li class="circle-note-progress style-usability" data-note="6.90">
                        <div class="circle">
                            <svg width="84" height="84">
                        <circle r="38" cy="41" cx="41"></circle>
                        <circle r="38" cy="41" cx="41" stroke-linejoin="round" stroke-linecap="round" class="circle-progress" style="animation: donut-show-1 900ms ease forwards;"></circle>
                    </svg>
                            <div class="percent">
                                <span class="int">6</span><span class="dec">.90</span>
                            </div>
                        </div>
                        <div class="legend">USABILITY</div>
                    </li>
                    <li class="circle-note-progress style-creativity" data-note="7.69">
                        <div class="circle">
                            <svg width="84" height="84">
                        <circle r="38" cy="41" cx="41"></circle>
                        <circle r="38" cy="41" cx="41" stroke-linejoin="round" stroke-linecap="round" class="circle-progress" style="animation: donut-show-2 900ms ease forwards;"></circle>
                    </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.69</span>
                            </div>
                        </div>
                        <div class="legend">CREATIVITY</div>
                    </li>
                    <li class="circle-note-progress style-content" data-note="7.41">
                        <div class="circle">
                            <svg width="84" height="84">
                        <circle r="38" cy="41" cx="41"></circle>
                        <circle r="38" cy="41" cx="41" stroke-linejoin="round" stroke-linecap="round" class="circle-progress" style="animation: donut-show-3 900ms ease forwards;"></circle>
                    </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.41</span>
                            </div>
                        </div>
                        <div class="legend">CONTENT</div>
                    </li>
                    <li class="circle-note-progress style-developer" data-note="7.14">
                        <div class="circle">
                            <svg width="84" height="84">
                                <circle r="38" cy="41" cx="41"></circle>
                                <circle r="38" cy="41" cx="41" stroke-linejoin="round" stroke-linecap="round" class="circle-progress" style="animation: donut-show-0 900ms ease forwards;"></circle>
                            </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.14</span>
                            </div>
                        </div>
                        <div class="legend">DEVELOPER</div>
                    </li>
                </ul>
            </div>
            <div class="box-bl">
                <a href="" class="bt-default green-fill" target="_blank" rel="noopener nofollow">Visit Site</a>
                <a href="/sites/fml" class="bt-default white">Visit Case</a>
                <a href="#" class="bt-default white js-collect">
                    <i class="iconfont icon-tubiaozhizuomoban"></i>
                    <span class="number">23</span> Collect me
                </a>
            </div>
            <div class="box-br">
                <i class="iconfont icon-ganlanzhi"></i>
                <div class="borders">
                    Jury Votes
                </div>
                <div class="item item-user">
                    <div class="top-tip" style="display:none">
                        <div class="tip">
                            <div class="circle">
                                <svg width="84" height="84">
                                      <circle r="38" cy="41" cx="41" fill="#fff" stroke="#df6c4f" stroke-width="3"></circle>
                                </svg>
                                <div class="percent">
                                    <span class="int">7</span><span class="dec">.14</span>
                                </div>
                            </div>
                            <div class="row-user">
                                <strong>Marie Benoist</strong>
                            </div>
                            <div class="row-user">
                                <span class="text-gray">Netherlands</span>
                            </div>
                        </div>
                        <i class="iconfont icon-sanjiao1"></i>
                    </div>
                    <a href="javascript:;">
                        <img src="./assets/images/thumb_user_1.jpg" alt="">
                    </a>
                    <div class="bottom-tip" style="display:none">
                        <i class="iconfont icon-sanjiao2"></i>
                        <div class="tip">
                            <div class="circle">
                                <svg width="84" height="84">
                                  <circle r="38" cy="41" cx="41" fill="#fff" stroke="#df6c4f" stroke-width="3"></circle>
                                </svg>
                                <div class="percent">
                                    <span class="int">7</span><span class="dec">.14</span>
                                </div>
                            </div>
                            <div class="row-user">
                                <strong>Marie Benoist</strong>
                            </div>
                            <div class="row-user">
                                <span class="text-gray">Netherlands</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-user">
                    <a href="#">
                        <img src="./assets/images/thumb_user_2.jpg" alt="">
                    </a>
                </div>
                <div class="item item-user">
                    <a href="#">
                        <img src="./assets/images/thumb_user_3.jpg" alt="">
                    </a>
                </div>
                <div class="item item-user">
                    <a href="#">
                        <img src="./assets/images/thumb_user_4.jpg" alt="">
                    </a>
                </div>
                <div class="item item-user">
                    <a href="#">
                        <img src="./assets/images/thumb_user_5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="">
            <img class="banner-min-img" src="./assets/images/christmas.jpg" alt="">
        </div>
    </div>
    <!--content开始-->
    <div class="content">
        <div class="box-heading no-flex">
            <div class="grid one-row">
                <div class="col-3 col-left-right">
                    <div>
                        <h2 class="title"><a href="/awards-of-the-day/">Sites of the day</a></h2>
                        <span>Previous Winners</span>
                    </div>
                </div>
                <div class="col-3 col-float-right">
                    <div class="box-sponsorship">
                        <h2 class="title">Mobile Excellence</h2> recognized by Google
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <ul class="list-items ml35" id="example-1">
                <li class="col-3 " v-for="item in items">
                    <div class="box-photo">
                        <img :src="item.img" alt="" class="narrow">

                        <div class="mask" style="display:none">
                            <i class="iconfont icon-fenxiang2"></i>
                        </div>
                    </div>
                    <div class="ribbon ribbon-mobile-week" v-if="item.ribbon"></div>
                    <div class="box-info">
                        <div class="box-content">
                            <div class="row">
                                <h3><a href="/sites/dieter-rams-10-principles-for-good-design" class="">{{ item.message }}</a></h3>
                            </div>
                            <div class="row">
                                by
                                <strong>
                                  <a href="/readymag/">{{ item.name }}</a>
                                </strong> {{ item.country }}
                            </div>
                            <div class="row">
                                {{item.date}}
                            </div>
                        </div>
                        <div class="box-footer ">
                            <div class="box-left">
                                <div class="box-users-likes">
                                    <ul class="list-users">
                                        <li class="list-user">
                                            <div class="item js-user">
                                                <div class="top-tip">
                                                    <div class="tip">
                                                        <div class="user-head">
                                                            <img src="./assets/images/thumb_default.jpg" alt="">
                                                        </div>
                                                        <div class="row-user">
                                                            Justin Greene
                                                        </div>
                                                        <div class="row-user" style="color: rgb(189, 193, 192);">
                                                            <span class="text-gray">Netherlands</span>
                                                        </div>
                                                        <div class="row-user" style="color: rgb(189, 193, 192);">
                                                            25&nbsp;&nbsp;<i class="iconfont icon-tubiaozhizuomoban"></i>
                                                        </div>
                                                    </div>
                                                    <i class="iconfont icon-sanjiao1"></i>
                                                </div>
                                                <a href="/tslasho/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="t/o" class="lazy lazy-loaded">
                                                </a>
                                                <div class="bottom-tip">
                                                    <i class="iconfont icon-sanjiao2"></i>
                                                    <div class="tip">
                                                        <div class="user-head">
                                                            <img src="./assets/images/thumb_default.jpg" alt="">
                                                        </div>
                                                        <div class="row-user">
                                                            <strong>Marie Benoist</strong>
                                                        </div>
                                                        <div class="row-user">
                                                            <span class="text-gray">Netherlands</span>
                                                        </div>
                                                        <div class="row-user" style="color: rgb(189, 193, 192);">
                                                            25&nbsp;&nbsp;<i class="iconfont icon-tubiaozhizuomoban"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item js-user">
                                                <a href="/gabyferman/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="gabyferman" class="lazy lazy-loaded">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item js-user">
                                                <a href="/pollur/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="pollur" class="lazy lazy-loaded">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item js-user">
                                                <a href="/jwaldmann/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="jwaldmann" class="lazy lazy-loaded">
                                                </a>
                                            </div>
                                        </li>
                                        <li id="like" class="like">
                                            <div class="collection-tip">
                                                <div class="tip">
                                                    <div class="tip-msg">
                                                        Add to collections!
                                                    </div>
                                                </div>
                                                <i class="iconfont icon-sanjiao1 " style="font-size:20px;color:#49c5b6;"></i>
                                            </div>
                                            <div class="like-heart">
                                                <a href="/jwaldmann/">
                                                    <i class="iconfont icon-heart"></i>
                                                    <div class="number">45</div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="box-right medal ">
                                <ul class="list-users">
                                    <li class="like">
                                        <div class="collection-tip">
                                            <div class="tip">
                                                <div class="tip-msg">
                                                    Add to collections!
                                                </div>
                                            </div>
                                            <i class="iconfont icon-sanjiao1 " style="font-size:20px;color:#49c5b6;"></i>
                                        </div>
                                        <div class="">
                                            <a href="javascript:;">
                                                <i class="iconfont icon-medal"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-heading no-flex">
            <div class="grid one-row">
                <div class="col-3 col-left-right">
                    <div>
                        <h2 class="title"><a href="/awards-of-the-day/">Nominees </a></h2>
                        <span>We need your vote!</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="grid">
            <ul class="list-items ml35" id="example-2">
                <li class="col-3 " v-for="item in items">
                    <div class="box-photo">
                        <img :src="item.img" alt="" class="narrow">
                        <div class="mask" style="display:none">
                        </div>
                        <div class="none">
                            <div class="hover-item center">
                                <a href="https://www.awwwards.com/sites/themads" class="bt-default white-fill vote-now">VOTE NOW</a>
                            </div>
                            <i class="iconfont icon-fenxiang2"></i>
                        </div>

                    </div>
                    <div class="ribbon ribbon-mobile-week" v-if="item.ribbon"></div>
                    <div class="box-info">
                        <div class="box-content">
                            <div class="row">
                                <h3><a href="/sites/dieter-rams-10-principles-for-good-design" class="">{{ item.message }}</a></h3>
                            </div>
                            <div class="row">
                                by
                                <strong>
                                  <a href="/readymag/">{{ item.name }}</a>
                                </strong> {{ item.country }}
                            </div>
                            <div class="row">
                                {{item.date}}
                            </div>
                        </div>
                        <div class="box-footer ">
                            <div class="box-left">
                                <div class="box-users-likes">
                                    <ul class="list-users">
                                        <li class="list-user">
                                            <div class="item js-user">
                                                <div class="top-tip">
                                                    <div class="tip">
                                                        <div class="user-head">
                                                            <img src="./assets/images/thumb_default.jpg" alt="">
                                                        </div>
                                                        <div class="row-user">
                                                            Justin Greene
                                                        </div>
                                                        <div class="row-user" style="color: rgb(189, 193, 192);">
                                                            <span class="text-gray">Netherlands</span>
                                                        </div>
                                                        <div class="row-user" style="color: rgb(189, 193, 192);">
                                                            25&nbsp;&nbsp;<i class="iconfont icon-tubiaozhizuomoban"></i>
                                                        </div>
                                                    </div>
                                                    <i class="iconfont icon-sanjiao1"></i>
                                                </div>
                                                <a href="/tslasho/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="t/o" class="lazy lazy-loaded">
                                                </a>
                                                <div class="bottom-tip">
                                                    <i class="iconfont icon-sanjiao2"></i>
                                                    <div class="tip">
                                                        <div class="user-head">
                                                            <img src="./assets/images/thumb_default.jpg" alt="">
                                                        </div>
                                                        <div class="row-user">
                                                            <strong>Marie Benoist</strong>
                                                        </div>
                                                        <div class="row-user">
                                                            <span class="text-gray">Netherlands</span>
                                                        </div>
                                                        <div class="row-user" style="color: rgb(189, 193, 192);">
                                                            25&nbsp;&nbsp;<i class="iconfont icon-tubiaozhizuomoban"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item js-user">
                                                <a href="/gabyferman/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="gabyferman" class="lazy lazy-loaded">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item js-user">
                                                <a href="/pollur/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="pollur" class="lazy lazy-loaded">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item js-user">
                                                <a href="/jwaldmann/">
                                                    <img src="./assets/images/thumb_default.jpg" width="27" height="27" alt="jwaldmann" class="lazy lazy-loaded">
                                                </a>
                                            </div>
                                        </li>
                                        <li id="like" class="like">
                                            <div class="collection-tip">
                                                <div class="tip">
                                                    <div class="tip-msg">
                                                        Add to collections!
                                                    </div>
                                                </div>
                                                <i class="iconfont icon-sanjiao1 " style="font-size:20px;color:#49c5b6;"></i>
                                            </div>
                                            <div class="like-heart">
                                                <a href="/jwaldmann/">
                                                    <i class="iconfont icon-heart"></i>
                                                    <div class="number">45</div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="box-right medal ">
                                <ul class="list-users">
                                    <li class="like">
                                        <div class="collection-tip">
                                            <div class="tip">
                                                <div class="tip-msg">
                                                    Add to collections!
                                                </div>
                                            </div>
                                            <i class="iconfont icon-sanjiao1 " style="font-size:20px;color:#49c5b6;"></i>
                                        </div>
                                        <div class="">
                                            <a href="javascript:;">
                                                <i class="iconfont icon-medal"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="loadmore">
            Load More
        </div>

    </div>
    <footer id="footer">
        <div class="inner">
            <div class="box-top">
                <div class="box-left">
                    <h2 class="headline slogan not-mobile">The awards for design, creativity and innovation on the Internet</h2>
                    <ul class="menu-footer">
                        <li class="directory not-mobile"><a href="/directory/" data-count="3">Directory</a> </li>
                        <li class="count1 not-mobile">
                            3
                        </li>
                        <li class="jobs not-mobile"><a href="/jobs/" data-count="3">Jobs</a></li>
                        <li class="count2 not-mobile">
                            4
                        </li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                        <li><a href="/cookies-policy/">Cookies Policy</a></li>
                        <li><a href="/terms/">Legal Terms</a></li>
                    </ul>
                    <p>Private Cloud by <strong><a href="http://www.stackscale.com/" target="_blank" rel="noopener nofollow">Stackscale</a></strong></p>
                    <ul class="list-social">
                        <i class="iconfont icon-tuite"></i>
                        <i class="iconfont icon-facebookf"></i>
                    </ul>
                </div>
                <div class="box-right">
                    <div class="headline">
                        Next Conferences
                        <i class="iconfont icon-rili"></i>
                        <a href="https://conference.awwwards.com">Berlin</a> and <a href="https://conference.awwwards.com">San Francisco</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script  src="./assets/js/index.js"></script>

</html>
